spring:
  server:
    port: 8080

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test
    username: root
    password:  #DB 비밀번호

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username:   #구글 이메일 아이디
    password:   #앱 비밀번호
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  app:
    reset-password-url: http://localhost:8080/reset-password

  profile:
    picture:
      path: C:/Holham/proFileImage



  # OAuth 로그인
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: Environment Variables로 등록
            client-secret: Environment Variables로 등록
            scope:
              - email
              - profile

          kakao:
            client-id: Environment Variables로 등록
            client-secret: Environment Variables로 등록
            scope:
              - account_email
              - profile_nickname
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-name: Kakao
            client-authentication-method: POST

          naver:
            client-id: Environment Variables로 등록
            client-secret: Environment Variables로 등록
            scope:
              - name
              - email
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver

          facebook:
            client-id: Environment Variables로 등록
            client-secret: Environment Variables로 등록
            scope:
              - email
              - public_profile

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

